body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

/* Dashboard Layout */

.dashboard{
    display:flex;
}

/* Sidebar */

.sidebar{
    width:250px;
    background:#1f3a5f;
    color:white;
    height:100vh;
    padding-top:20px;
}

.sidebar h2{
    text-align:center;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar ul li{
    padding:15px 20px;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
}

/* Main content */

.main{
    flex:1;
    padding:30px;
}

/* Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}