body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

.sidebar{
width:220px;
height:100vh;
background:#0b2d4f;
position:fixed;
padding:20px;
}

.sidebar h2{
color:white;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:15px 0;
}

.sidebar a:hover{
color:#ffc107;
}

.main{
margin-left:260px;
padding:20px;
}

.cards{
display:flex;
gap:20px;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
width:180px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px #ccc;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
border:1px solid #ccc;
padding:10px;
}
