* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Background */
body {
  height: 100vh;
  background: url("../images/bg1.jpeg") center/cover no-repeat;

}

/* Overlay */
.overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  
}

/* Login Card */
.login-card {
  width: 400px;
  padding: 60px;
  background: rgba(300, 300, 300, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  color: white;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: none;
  border-radius: 6px;
  outline: none;
}

/* Options */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.options a {
  color: white;
  text-decoration: none;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #e53935;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #c62828;
}

/* Message */
.message {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #ffcccc;
}