body{
    margin:0;
    font-family:Arial;
    background: url("../images/register.jpeg") center/cover no-repeat;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.card{
    background:white;
    padding:30px;
    width: 400px;;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.1);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

input, select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    width:100%;
    padding:12px;
    background:#4a63ff;
    border:none;
    color:white;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#394de0;
}

.section{
    font-weight:bold;
    margin-top:15px;
}
